<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frolo.core.ui">
    <application>
        <provider
            android:authorities="${applicationId}.core.ui"
            android:name=".ApplicationWatcherImpl"
            android:exported="false"/>
    </application>
</manifest>