*.class
**/build/
**/.gradle/
/local.properties
/.idea/
*.iml
.gradle/
/gradlew
/gradlew.bat
/gradle-wrapper.jar
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class
**/generated/
**/R.java
**/R$*.java
**/BuildConfig.java
**/res/
**/assets/
**/AndroidManifest.xml
